<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.winuser.discapphelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS"
    tools:ignore="ProtectedPermissions" />

    <application
               android:allowBackup="true"
        android:icon="@drawable/inicoooo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".inicio"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ingresar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emergencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".datospersonales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".datosespeciales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acercade"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".acercade" android:screenOrientation="portrait" /> -->
        <activity
            android:name=".registrar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".videso1"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".video2" android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".video3" android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>
